

* {box-sizing: border-box;}

body{ 
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:aliceblue
}

.topnav {
    overflow: hidden;
    background-color:gray ;
    margin-top: 30px;
}

.topnav a {
    float:right;
    display: block;
    color:white ;
    text-align: center;
    padding: 16px 20px;
    text-decoration: none;
    font-size: 16px;
    height: 50px;
}

.topnav a:hover {
background-color:orange;
color: black;
}

.topnav .search-container {
    float: left;
}

.search {
    float: left;
    padding: 6px;
    margin-top: 8px;
    margin-left:50px;
    border: none;
    font-size: 20px;
    width: 700px
}

.topnav .search-container button {
    float: left;
    padding: 8px 12px;
    margin-top: 7px;
    margin-left: 9px;
    background:orange;
    font-size: 18px;
    border: none;
    cursor: pointer;
}

.topnav .search-container button:hover {
    background-color:rgb(218, 185, 124) ;
}


@media screen and(max-width: 600px) {
    .topnav .search-container {
        float: none;
    }
    .topnav a, .search, .topnav .search-container button {
        float: none;
        display: block;
        text-align: left;
        width:100%;
        margin:0;
        padding: 20px;
    }
    .search {
        border: 1px solid black;
    }
}

.topnav .menu{
    width: 30px;
    height: 4px;
    background-color: black;
    margin: 3px 0 ;
    float: none;
    margin-top: 1px;
}

h2{text-align: center;
  background-color: gray;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
color: white;
font-size: 15px;
padding: 12px 0;
}
 
.products {
    display: flex;
    padding: 2px 60px 2px 60px;
    justify-content: space-between;
    margin-bottom: 50px ;
    margin-top: 50px;

}
    
.products img {
    width:300px ;
    height: 270px;
}

.name {
    text-align: center;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color:rgb(59, 54, 54);
    text-decoration: none;
    font-size:13px ;
}

.name:hover {
    color: orangered;
    text-decoration: underline;
}

.prices {
    text-align: center;
    color:orangered ;
}

.container {
     width: auto;

background-color: rgb(37, 35, 35);
color:white ;
display: flex;
justify-content: space-between;
flex-wrap: wrap;
margin:0px;
padding: 0px 120px 0px 80px;
font-size:13px ;
padding-bottom: 15px;
}

.footer-1 h3 {
    margin-bottom: 1rem;
    font-family: Verdana;
    font-size: 12px;
     }

     .footer-1 {
        display: flex;
        flex-direction: column;
        margin-right: 2rem;
        margin-left: 1rem;
        margin-top: 1rem;
     }

     .footer-1 a{
        color: rgb(146, 143, 145);
    text-decoration: none;
    margin-bottom: 1px;
     }

     
.footer-1 a:hover{
    text-decoration: underline;
    transition: 0.3s ease-out;
    color: white;
}

 .footer-email h3 {
    margin-top: 18rem ;
    margin-bottom: 1rem;
    font-family: Verdana;
    font-size: 12px;
 }

 .footer-email p {
    color: rgb(209, 206, 202);
    font-size: 12px;
 }

 #footer-email-2 {
    width: 250px;
    height: 40px;
    border-radius: 4px;
    outline: none;
    border: none;
    padding-left: 0.5rem;
    font-size: 1rem;
    margin-bottom:1rem;
 }

 #footer-email-btn {
    width: 100px;
    height: 42px;
    border-radius:4px;
    background-color: orange;
    outline: none;
    border: none;
    color: white;
    font-size: 1rem;
 }

 #footer-email-btn:hover {
    cursor: pointer;
    background-color: rgb(209, 231, 250);
    transition: all 0.4s ease-in-out;
 }

 .c-right { width: auto;

    background-color: rgb(29, 28, 28);
    color:white ;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin:0px;
    padding: 0px 120px 0px 80px;
    font-size:15px ;
    padding-top: 2rem;
    padding-bottom: 0rem;
 }

 .icons h3 {
    margin-bottom: 1rem;
    font-family: Verdana;
    font-size: 15px;
 }

 .icons a {
    color: white;
    text-decoration: none;
    margin-bottom: 0px;
    font-size: 25px;
    padding: 1rem;
 }
 
 
.icons a:hover{
    text-decoration: none;
    transition: 0.4s ease-in;
    color: orange;
}
 
.lines {
    font-family: Tahoma;
    font-size: 18px;
    margin-top: 1rem;
}

.tlink {
    color: orange;
    text-decoration: none;
    font-size: 14px;
}

.tlink:hover {
    text-decoration: none;
    color: white;
    transition: all 0.4s ease-in-out;

}